In [ ]:
# Import necessary libraries
import pandas as pd
import numpy as np

In [ ]:
# Load the data from the uploaded file
file_path = '/content/dataset/food_data_terbaru.csv'
data = pd.read_csv(file_path)

In [ ]:
# Display the first few rows of the data
print("First few rows of the dataset:")
print(data.head())

First few rows of the dataset:
           Nama_bahan Satuan    Harga
0        Ayam Kampung   ekor  90000.0
1            Ayam Ras   ekor  55000.0
2   Bawang Merah Bima     Kg  75000.0
3  Bawang Merah Lokal     Kg  50000.0
4        Bawang Putih     Kg  35000.0

In [ ]:
# Get basic information about the data
print("\nBasic information about the dataset:")
print(data.info())

Basic information about the dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 143 entries, 0 to 142
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Nama_bahan  143 non-null    object
 1   Satuan      142 non-null    object
 2   Harga       142 non-null    float64
dtypes: float64(1), object(2)
memory usage: 3.5+ KB
None

In [ ]:
# Display summary statistics of the data
print("\nSummary statistics of the dataset:")
print(data.describe())

Summary statistics of the dataset:
               Harga
count     142.000000
mean    27090.443662
std     28215.800314
min       500.000000
25%      8000.000000
50%     15000.000000
75%     37857.250000
max    137857.000000

In [ ]:
# Check for missing values
print("\nMissing values in the dataset:")
print(data.isnull().sum())

Missing values in the dataset:
Nama_bahan    0
Satuan        1
Harga         1
dtype: int64

In [ ]:
# Handle missing values (example: fill with median or drop)
# Filling missing numerical values with median
numerical_cols = data.select_dtypes(include=[np.number]).columns
for col in numerical_cols:
    data[col].fillna(data[col].median(), inplace=True)

In [ ]:
# Filling missing categorical values with mode
categorical_cols = data.select_dtypes(include=[object]).columns
for col in categorical_cols:
    data[col].fillna(data[col].mode()[00], inplace=True)

In [ ]:
# Verify that there are no more missing values
print("\nMissing values after filling:")
print(data.isnull().sum())

Missing values after filling:
Nama_bahan    0
Satuan        0
Harga         0
dtype: int64

In [ ]:
# Remove duplicates if any
print("\nNumber of duplicate rows:", data.duplicated().sum())
data.drop_duplicates(inplace=True)

Number of duplicate rows: 0

In [ ]:
# Verify data types
print("\nData types after cleaning:")
print(data.dtypes)

Data types after cleaning:
Nama_bahan     object
Satuan         object
Harga         float64
dtype: object

In [ ]:
# Save the cleaned data to a new CSV file
cleaned_file_path = '/content/dataset/fooddata_terbaru_cleaned_data.csv'
data.to_csv(cleaned_file_path, index=False)

print("\nData cleaning completed. Cleaned data saved to:", cleaned_file_path)

Data cleaning completed. Cleaned data saved to: /content/dataset/fooddata_terbaru_cleaned_data.csv